# Q:1

In [1]:
import pandas as pd

# Create a pandas Series without using a dictionary
series = pd.Series([1, 4, 9, 6, 7], index=['a', 'x', 'c', '2', 'e'])

# Print the Series
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

# q:2

In [3]:
import pandas as pd

# Create a pandas Series directly
series = pd.Series([42, 48, 39], index=['Bilal', 'Ayesha', 'Hadia'])

# Print the series
print(series)

Bilal     42
Ayesha    48
Hadia     39
dtype: int64

# q:3

In [4]:
import pandas as pd

# Create a dictionary with data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Q:4

In [5]:
import pandas as pd

# Create a dictionary with the data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Define the index explicitly
index = ['a', 'b', 'c', 'd', 'e', 'f']

# Create a pandas DataFrame from the dictionary with the specified index
df = pd.DataFrame(data, index=index)

# Print the DataFrame
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

# Q:5

In [6]:
import pandas as pd

# Create a dictionary with the data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Calculate mean, maximum, and minimum for the 'temperature' column
temperature_mean = df['temperature'].mean()
temperature_max = df['temperature'].max()
temperature_min = df['temperature'].min()

# Print the results
print("Mean Temperature:", temperature_mean)
print("Maximum Temperature:", temperature_max)
print("Minimum Temperature:", temperature_min)

Mean Temperature: 30.333333333333332
Maximum Temperature: 35
Minimum Temperature: 24

# Q:6

In [10]:
import pandas as pd

# Define the file path to the CSV file
file_path = 'people.csv'

# Import CSV, selecting specific columns and skipping rows
# Note: Skiprows skips the rows by index, so [0, 4] corresponds to skipping rows 1 and 5.
# Index_col sets the specified columns as the index.
data = pd.read_csv(file_path, usecols=["First Name", "Sex", "Email", "Phone", "Job Title"], skiprows=[1, 5], index_col=["Sex", "Job Title"])

# Export the DataFrame to a new CSV file
data.to_csv('NewPeople.csv')
print(data)

                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

# Q:7

In [11]:
import pandas as pd

# Read the Excel file, skipping row 2 and importing only the first and last column from sheet 1
sample_df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=[0, -1], skiprows=[1])

# Set row 2 as the header
sample_df.columns = sample_df.iloc[0]

# Drop the second row, as it's already set as the header
sample_df = sample_df[1:]

# Export the DataFrame to a new sheet in the same Excel file
sample_df.to_excel('SampleWork.xlsx', index=False, sheet_name='NewSheet')

# Optionally, print the DataFrame to verify the changes
print(sample_df)

0  Saiqa
1  Aimen

# Q:8

In [12]:
import pandas as pd

# Create the dataframe
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'Ihr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'Bsc']
}

AICP_DF = pd.DataFrame(data)

# Select 'Name' and 'Qualification' columns and save to df1
df1 = AICP_DF[['Name', 'Qualification']]

# Add a new column "Height" to AICP_DF
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Set column "Name" as the index column
AICP_DF.set_index('Name', inplace=True)

# Retrieve row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']

# Retrieve row with index 3
row_index_3 = AICP_DF.iloc[3]

# Drop row with index "Bilal"
AICP_DF.drop('Bilal', inplace=True)

print("AICP_DF:")
print(AICP_DF)
print("\n")
print("df1:")
print(df1)
print("\nRow with index 'Hifza':")
print(row_hifza)
print("\nRow with index 3:")
print(row_index_3)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       Ihr           Bsc     5.1


df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           Bsc

Row with index 'Hifza':
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

Row with index 3:
Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object